<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 驼峰标识 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>

    </settings>

    <typeAliases>
        <package name="com.hss.domain"/>
        <package name="com.hss.vo"/>
    </typeAliases>
    <!-- 支持分页技术 -->
    <plugins>

        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!-- 分页合理化 ,只能在已有的页码中跳转-->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
</configuration>